
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
   --font-1: 'Josefin Sans', sans-serif;
   --font-2: 'Alata', sans-serif;
   --color-1: hsl(0, 0%, 100%);
   --color-2: hsl(0, 0%, 55%);
   --color-3: black;
}


*{
    margin: 0;padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-1);
}
p{
    font-family: var(--font-2);
}

.w-1{
    width: 75vw;
}

.w-2{
    width: 60vw;
}

.m-auto{
    margin: auto;
}